.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.title {
  font-weight: bold;
  font-size: 1.5rem;
}

.buttonGroup {
  display: flex;
  gap: 1rem;
}

.imageList {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap; /* 화면 줄어들면 줄바꿈 */
}

.actionButton {
  margin-top: 1.5rem;
  font-size: 1rem;
}

.index {
  margin-top: 2rem;
}
.filter .stack,
.category .stack,
.sort .stack {
  width: 100%;
  height: 2rem;
  overflow-x: auto;
}
.nav .button {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  height: 100%;
  color: gray;
  min-width: max-content;
}
.filter .button.selected {
  color: black;
  border-bottom: solid 2px black;
}
.category {
  background: lightgray;
}
.category .button.selected {
  color: black;
}
.sort .count {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  color: black;
}
.sort .select {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  color: black;
}

.recommands {
  margin-top: 2rem;
}
.recommands .message {
  margin-bottom: 2rem;
}
.recommands .message p {
  font-weight: bold;
}
