.container {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.description {
  font-size: 1rem;
  color: gray;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  font-size: 1rem;
  font-weight: 500;
}

.buttonGroup {
  display: flex;
  flex-wrap: wrap; /* 버튼 줄바꿈 */
  gap: 0.5rem;
}
