@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css');

html {
  font-size: 16px;
}

:root {
  --color-tone-0: white;
  --color-tone-1: rgb(245, 245, 245);
  --color-tone-1-tp: rgb(245, 245, 245, 0);
  --color-tone-2: rgb(230, 230, 230);
  --color-tone-3: rgb(215, 215, 215);
  --color-tone-4: rgb(205, 205, 205);
  --color-tone-5: rgb(190, 190, 190);
  --color-tone-6: rgb(180, 180, 180);
  --color-tone-7: rgb(160, 160, 160);
  --color-tone-8: rgb(150, 150, 150);
  --color-tone-9: rgb(137, 137, 137);
  --color-tone-10: rgb(128, 128, 128);
  --color-tone-11: rgb(100, 100, 100);
  --color-tone-12: rgb(75, 75, 75);
  --color-tone-13: rgb(40, 40, 40);
  --color-tone-14: rgb(20, 20, 20);
  --color-tone-15: black;

  --th: #d2b0dd;

  --red-light: rgb(255, 236, 235);
  --red-light2: rgb(255, 59, 48);
  --red-light1: rgb(255, 59, 48);
  --red: rgb(255, 59, 48);
  --red-dark1: rgb(224, 42, 33);
  --red-dark2: rgb(209, 33, 23);
  --red-dark3: rgb(192, 10, 0);

  --orange: rgb(255, 149, 0);
  --yellow: rgb(255, 204, 0);
  --green: rgb(40, 205, 64);
  --blue: rgb(0, 122, 255);
  --purple: rgb(175, 82, 222);
  --pink: rgb(255, 45, 85);

  --button-bg: var(--light2);
  --button-fg: var(--dark3);
  --button-ol: var(--light5);

  --button-bg-hover: var(--light4);
  --button-fg-hover: var(--black);
  --button-ol-hover: var(--black);

  --button-bg-active: var(--gray3);
  --button-fg-active: var(--black);
  --button-ol-active: var(--gray6);

  --button-bg-disabled: var(--light2);
  --button-fg-disabled: var(--gray1);
  --button-ol-disabled: var(--light5);

  --ol-focus: var(--color-tone-10);
}

.red {
  color: red;
}

:root {
  --size-10: 0.0625rem;
  --size-16: 0.1rem;
  --size-20: 0.125rem;
  --size-40: 0.25rem;
  --size-60: 0.375rem;
  --size-70: 0.438rem;
  --size-80: 0.5rem;
  --size-100: 0.625rem;
  --size-120: 0.75rem;
  --size-128: 0.8rem;
  --size-144: 0.9rem;
  --size-160: 1rem;
  --size-180: 1.125rem;
  --size-200: 1.25rem;
  --size-240: 1.5rem;
  --size-280: 1.75rem;
  --size-320: 2rem;
  --size-360: 2.25rem;
  --size-400: 2.5rem;
  --size-480: 3rem;

  --size-radius-default: 0.625rem;
  --size-radius-default: 0.625rem;

  --font-size: var(--size-160);
}

* {
  font-family: 'Pretendard Variable';
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  word-break: keep-all;
  background: var(--color-tone-1);
  color: var(--color-tone-13);
  fill: var(--color-tone-13);
}
body #root {
  width: 100%;
  height: 100%;
}

p,
a,
span,
h1,
h2,
h3,
h4,
h5,
h6,
label,
input,
textarea {
  margin: 0;
}

a,
a:hover,
a:active {
  color: var(--color-tone-13);
  text-decoration: none;
}

.outwrapper {
  margin: 0 auto;
  padding: 0 1rem;
}
.outwrapper[content] {
  max-width: 46rem;
}
.outwrapper[form] {
  max-width: 24rem;
}
